snippet clearfix "margin subside & clear float" b
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clear:after {
	clear: both;
}

/* IE Browser */
.clearfix {
	zoom: 1;
}
endsnippet
