snippet i "Italic text"
*${1:Italic text}*
endsnippet
	
snippet b "Bold text"
**${1:Bold text}**
endsnippet

snippet bi "Bold italic text"
***${1:Bold italic text}***
endsnippet
	
snippet d "Delete line"
~~${1:Delete text}~~
endsnippet

snippet footnote "Footnote"
[^${1:Footnote text}
endsnippet

snippet ul "Underline"
<u>${1:Underline text}</u>
endsnippet
	
snippet today "Date"
`date +%F`
endsnippet	
	
snippet code "Code Block"
\`\`\`${1}
${2:content}
\`\`\`
endsnippet
	
snippet // "\frac{}{}"
\frac{${1}}{${2}}
endsnippet

snippet brace "{something}"
\lbrace ${1} \rbrace
endsnippet

snippet bbrace "big bracket"
\left\{ ${1} \right\}
endsnippet

snippet Lfa "Leftrightarrow"
\Leftrightarrow
endsnippet

snippet La "Leftarrow"
\Leftarrow
endsnippet

snippet Ra "Rightarrow"
\Rightarrow
endsnippet

snippet lfa "leftrightarrow"
\leftrightarrow
endsnippet

snippet la "leftarrow"
\leftarrow
endsnippet

snippet ra "rightarrow"
\rightarrow
endsnippet

snippet lla "longleftarrow"
\longleftarrow
endsnippet

snippet lra "longrightarrow"
\longrightarrow
endsnippet

snippet llra "longleftrightarrow"
\longleftrightarrow
endsnippet

snippet Lla "Longleftarrow"
\Longleftarrow
endsnippet

snippet Lra "Longrightarrow"
\Longrightarrow
endsnippet

snippet Llra "Longleftrightarrow"
\Longleftrightarrow
endsnippet

snippet ol "overline"
\overline{${1:B}}
endsnippet

snippet c. "cdots ···"
\cdots
endsnippet

snippet l. "ldots ..."
\ldots
endsnippet

snippet c "cdot ·"
\cdot
endsnippet

snippet br "<br> line feed"
<br>
endsnippet

snippet x "times x"
\times
endsnippet

snippet \{ "mathjax {} "
\left\\{ ${1} \right${2:\\}}
endsnippet

snippet \[ "mathjax [] "
\left\\[ ${1} \right${2:\\]}
endsnippet

snippet begin "begin like latex mathjax"
\begin{${1:aligned}}
${2:mathjax}
\end{$1}
endsnippet

snippet because "\because" b
\because
endsnippet

snippet therefore "\therefore" b
\therefore
endsnippet

snippet ift "\infty" b
\infty
endsnippet

snippet / "\frac 12" b
\frac ${1:12}
endsnippet
